.process-dialog {
  width: fit-content;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  padding-right: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  z-index: 30;
  color: var(--text-color);
  border-radius: 5px;
  background-color: var(--base-color);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.process-dialog.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.process-message {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.process-spinner {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}