:root {
  --base-color: rgb(35, 35, 35);
  --secondary-color: rgb(45, 45, 45);
  --complement: rgb(25, 25, 25);

  --text-color: rgb(255, 255, 255);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'poppins', 'sans serif';
}

body {
  width: calc(100% - 18px);
  height: 650px;
  display: flex;
  justify-content: center;
  row-gap: 9px;
  column-gap: 9px;
  padding: 9px;
  background-color: var(--complement);
  flex-wrap: wrap;
}

h4, h1 {
  color: var(--text-color);
}

.top {
  min-width: 100px;
  height: fit-content;
  position: sticky;
  top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 9px;
  z-index: 11;
  width: calc(100% - 18px);
  border-radius: 18px;
}

.floating {
  padding: 9px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  column-gap: 9px;
  border: none;
  border-radius: 9px;
  color: var(--text-color);
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.floating.bold {
  font-weight: bold;
}

.floating:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.container {
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 18px;
  border: none;
  padding-bottom: 18px;
  padding-top: 18px;
  border-radius: 18px;
  background-color: var(--base-color);
}

.toggle-container {
  width: calc(100% - 36px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
  row-gap: 18px;
  column-gap: 18px;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
}

.toggle-container::-webkit-scrollbar {
  display: none;
}

.sub-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 9px;
  column-gap: 9px;
}

.header {
  width: calc(100% - 36px);
  height: fit-content;
  margin: 18px;
  column-gap: 9px;
  display: flex;
  justify-content: space-between;
}

.header h4 {
  padding: 9px;
}

.header .button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  padding: 9px;
  background-color: var(--base-color);
  color: var(--text-color);
  transition: background-color 0.2s ease-in;
}

.header .button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.message-input {
  padding: 9px;
  width: calc(100% - 36px);
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
  outline: none;
}

.input-message {
  padding: 9px;
  width: calc(100% - 36px);
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
  outline: none;
}

.add-toggle-modal {
  width: 350px;
  min-width: 100px;
  border-radius: 18px;
  background-color: var(--base-color); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  flex-direction: column;
  row-gap: 9px;
  position: fixed;
  top: 50%;
  left: -25%;
  z-index: 19;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s, left 0.3s ease;
}

.add-toggle-modal.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  pointer-events: none;
  transition: opacity 1s;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.wrap {
  display: flex;
}